/* #easyReadingLastRow,
#easyReadingReplyRow,
.main {
    font-family: MingLiu, monospace;
    font-size: 26px;
    line-height: 100%;
    height: 24.125em;
    margin: 0;
    -webkit-user-select: text;
} */

#easyReadingLastRow,
#easyReadingReplyRow,
.main {
    /* font-family: Hiragino Sans, PingFang TC-Light, MingLiu, monospace;
    font-size: 22px;
    line-height: 100%;
    height: 24.125em;
    margin: 0;
    -webkit-user-select: text;
    border: 0px; */
    font-family: MingLiu, SymMingLiU, monospace !important;
    transform-origin: center center;
    font-size: 16px;
    line-height: 16px;
    overflow: hidden auto;
    text-align: left;
    width: 650px;
    margin-top: 11px;
    transform: none;
}