body,
.main {
    color: rgb(212,231,212);
    background-color: rgb(36,52,53);
}

#cursor{
    color: rgb(212,231,212);
}

.blink--active .qq,
.blink--active .qq0 {
    color: RGBA(0, 0, 0, 0);
    background-color: inherit
}

.blink--active .qq1 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(130,93,77)
}

.blink--active .qq2 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(114,140,98)
}

.blink--active .qq3 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(173,161,109)
}

.blink--active .qq4 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(77,123,130)
}

.blink--active .qq5 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(138,114,103)
}

.blink--active .qq6 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(114,148,148)
}

.blink--active .qq7 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(212,231,212)
}

.blink--active .qq8 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(138,138,138)
}

.blink--active .qq9 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(207,147,122)
}

.blink--active .qq10 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(152,217,170)
}

.blink--active .qq11 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(250,231,157)
}

.blink--active .qq12 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(122,195,207)
}

.blink--active .qq13 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(214,178,161)
}

.blink--active .qq14 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(173,224,224)
}

.blink--active .qq15 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(224,224,224)
}

.q0 {
    color: rgb(117,117,117)
}

.q1 {
    color: rgb(130,93,77)
}

.q2 {
    color: rgb(114,140,98)
}

.q3 {
    color: rgb(173,161,109)
}

.q4 {
    color: rgb(77,123,130)
}

.q5 {
    color: rgb(138,114,103)
}

.q6 {
    color: rgb(114,148,148)
}

.q7 {
    color: rgb(212,231,212)
}

.q8 {
    color: darken(rgb(212,231,212), 24%)
}

.q9 {
    color: rgb(207,147,122)
}

.q10 {
    color: rgb(152,217,170)
}

.q11 {
    color: rgb(250,231,157)
}

.q12 {
    color: rgb(122,195,207)
}

.q13 {
    color: rgb(214,178,161)
}

.q14 {
    color: rgb(173,224,224)
}

.q15 {
    color: rgb(224,224,224)
}

.b0 {
    background-color: transparent
}

.b1 {
    background-color: rgb(130,93,77)
}

.b2 {
    background-color: rgb(114,140,98)
}

.b3 {
    background-color: rgb(173,161,109)
}

.b4 {
    background-color: rgb(77,123,130)
}

.b5 {
    background-color: rgb(138,114,103)
}

.b6 {
    background-color: rgb(114,148,148)
}

.b7 {
    background-color: rgb(212,231,212)
}

.b8 {
    background-color: rgb(138,138,138)
}

.b9 {
    background-color: rgb(207,147,122)
}

.b10 {
    background-color: rgb(152,217,170)
}

.b11 {
    background-color: rgb(250,231,157)
}

.b12 {
    background-color: rgb(122,195,207)
}

.b13 {
    background-color: rgb(214,178,161)
}

.b14 {
    background-color: rgb(173,224,224)
}

.b15 {
    background-color: rgb(224,224,224)
}

.b0b0 {
    background: -webkit-linear-gradient(left, transparent 50%, transparent 0)
}

.b0b1 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(130,93,77) 0)
}

.b0b2 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(114,140,98) 0)
}

.b0b3 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(173,161,109) 0)
}

.b0b4 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(77,123,130) 0)
}

.b0b5 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(138,114,103) 0)
}

.b0b6 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(114,148,148) 0)
}

.b0b7 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(212,231,212) 0)
}

.b0b8 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(138,138,138) 0)
}

.b0b9 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(207,147,122) 0)
}

.b0b10 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(152,217,170) 0)
}

.b0b11 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(250,231,157) 0)
}

.b0b12 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(122,195,207) 0)
}

.b0b13 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(214,178,161) 0)
}

.b0b14 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(173,224,224) 0)
}

.b0b15 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(224,224,224) 0)
}

.b1b0 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, transparent 0)
}

.b1b1 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(130,93,77) 0)
}

.b1b2 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(114,140,98) 0)
}

.b1b3 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(173,161,109) 0)
}

.b1b4 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(77,123,130) 0)
}

.b1b5 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(138,114,103) 0)
}

.b1b6 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(114,148,148) 0)
}

.b1b7 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(212,231,212) 0)
}

.b1b8 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(138,138,138) 0)
}

.b1b9 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(207,147,122) 0)
}

.b1b10 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(152,217,170) 0)
}

.b1b11 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(250,231,157) 0)
}

.b1b12 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(122,195,207) 0)
}

.b1b13 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(214,178,161) 0)
}

.b1b14 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(173,224,224) 0)
}

.b1b15 {
    background: -webkit-linear-gradient(left, rgb(130,93,77) 50%, rgb(224,224,224) 0)
}

.b2b0 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, transparent 0)
}

.b2b1 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(130,93,77) 0)
}

.b2b2 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(114,140,98) 0)
}

.b2b3 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(173,161,109) 0)
}

.b2b4 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(77,123,130) 0)
}

.b2b5 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(138,114,103) 0)
}

.b2b6 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(114,148,148) 0)
}

.b2b7 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(212,231,212) 0)
}

.b2b8 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(138,138,138) 0)
}

.b2b9 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(207,147,122) 0)
}

.b2b10 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(152,217,170) 0)
}

.b2b11 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(250,231,157) 0)
}

.b2b12 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(122,195,207) 0)
}

.b2b13 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(214,178,161) 0)
}

.b2b14 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(173,224,224) 0)
}

.b2b15 {
    background: -webkit-linear-gradient(left, rgb(114,140,98) 50%, rgb(224,224,224) 0)
}

.b3b0 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, transparent 0)
}

.b3b1 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(130,93,77) 0)
}

.b3b2 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(114,140,98) 0)
}

.b3b3 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(173,161,109) 0)
}

.b3b4 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(77,123,130) 0)
}

.b3b5 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(138,114,103) 0)
}

.b3b6 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(114,148,148) 0)
}

.b3b7 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(212,231,212) 0)
}

.b3b8 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(138,138,138) 0)
}

.b3b9 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(207,147,122) 0)
}

.b3b10 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(152,217,170) 0)
}

.b3b11 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(250,231,157) 0)
}

.b3b12 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(122,195,207) 0)
}

.b3b13 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(214,178,161) 0)
}

.b3b14 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(173,224,224) 0)
}

.b3b15 {
    background: -webkit-linear-gradient(left, rgb(173,161,109) 50%, rgb(224,224,224) 0)
}

.b4b0 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, transparent 0)
}

.b4b1 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(130,93,77) 0)
}

.b4b2 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(114,140,98) 0)
}

.b4b3 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(173,161,109) 0)
}

.b4b4 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(77,123,130) 0)
}

.b4b5 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(138,114,103) 0)
}

.b4b6 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(114,148,148) 0)
}

.b4b7 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(212,231,212) 0)
}

.b4b8 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(138,138,138) 0)
}

.b4b9 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(207,147,122) 0)
}

.b4b10 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(152,217,170) 0)
}

.b4b11 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(250,231,157) 0)
}

.b4b12 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(122,195,207) 0)
}

.b4b13 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(214,178,161) 0)
}

.b4b14 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(173,224,224) 0)
}

.b4b15 {
    background: -webkit-linear-gradient(left, rgb(77,123,130) 50%, rgb(224,224,224) 0)
}

.b5b0 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, transparent 0)
}

.b5b1 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(130,93,77) 0)
}

.b5b2 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(114,140,98) 0)
}

.b5b3 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(173,161,109) 0)
}

.b5b4 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(77,123,130) 0)
}

.b5b5 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(138,114,103) 0)
}

.b5b6 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(114,148,148) 0)
}

.b5b7 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(212,231,212) 0)
}

.b5b8 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(138,138,138) 0)
}

.b5b9 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(207,147,122) 0)
}

.b5b10 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(152,217,170) 0)
}

.b5b11 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(250,231,157) 0)
}

.b5b12 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(122,195,207) 0)
}

.b5b13 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(214,178,161) 0)
}

.b5b14 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(173,224,224) 0)
}

.b5b15 {
    background: -webkit-linear-gradient(left, rgb(138,114,103) 50%, rgb(224,224,224) 0)
}

.b6b0 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, transparent 0)
}

.b6b1 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(130,93,77) 0)
}

.b6b2 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(114,140,98) 0)
}

.b6b3 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(173,161,109) 0)
}

.b6b4 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(77,123,130) 0)
}

.b6b5 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(138,114,103) 0)
}

.b6b6 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(114,148,148) 0)
}

.b6b7 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(212,231,212) 0)
}

.b6b8 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(138,138,138) 0)
}

.b6b9 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(207,147,122) 0)
}

.b6b10 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(152,217,170) 0)
}

.b6b11 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(250,231,157) 0)
}

.b6b12 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(122,195,207) 0)
}

.b6b13 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(214,178,161) 0)
}

.b6b14 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(173,224,224) 0)
}

.b6b15 {
    background: -webkit-linear-gradient(left, rgb(114,148,148) 50%, rgb(224,224,224) 0)
}

.b7b0 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, transparent 0)
}

.b7b1 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(130,93,77) 0)
}

.b7b2 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(114,140,98) 0)
}

.b7b3 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(173,161,109) 0)
}

.b7b4 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(77,123,130) 0)
}

.b7b5 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(138,114,103) 0)
}

.b7b6 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(114,148,148) 0)
}

.b7b7 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(212,231,212) 0)
}

.b7b8 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(138,138,138) 0)
}

.b7b9 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(207,147,122) 0)
}

.b7b10 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(152,217,170) 0)
}

.b7b11 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(250,231,157) 0)
}

.b7b12 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(122,195,207) 0)
}

.b7b13 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(214,178,161) 0)
}

.b7b14 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(173,224,224) 0)
}

.b7b15 {
    background: -webkit-linear-gradient(left, rgb(212,231,212) 50%, rgb(224,224,224) 0)
}

.b8b0 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, transparent 0)
}

.b8b1 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(130,93,77) 0)
}

.b8b2 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(114,140,98) 0)
}

.b8b3 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(173,161,109) 0)
}

.b8b4 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(77,123,130) 0)
}

.b8b5 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(138,114,103) 0)
}

.b8b6 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(114,148,148) 0)
}

.b8b7 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(212,231,212) 0)
}

.b8b8 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(138,138,138) 0)
}

.b8b9 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(207,147,122) 0)
}

.b8b10 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(152,217,170) 0)
}

.b8b11 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(250,231,157) 0)
}

.b8b12 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(122,195,207) 0)
}

.b8b13 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(214,178,161) 0)
}

.b8b14 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(173,224,224) 0)
}

.b8b15 {
    background: -webkit-linear-gradient(left, rgb(138,138,138) 50%, rgb(224,224,224) 0)
}

.b9b0 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, transparent 0)
}

.b9b1 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(130,93,77) 0)
}

.b9b2 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(114,140,98) 0)
}

.b9b3 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(173,161,109) 0)
}

.b9b4 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(77,123,130) 0)
}

.b9b5 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(138,114,103) 0)
}

.b9b6 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(114,148,148) 0)
}

.b9b7 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(212,231,212) 0)
}

.b9b8 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(138,138,138) 0)
}

.b9b9 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(207,147,122) 0)
}

.b9b10 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(152,217,170) 0)
}

.b9b11 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(250,231,157) 0)
}

.b9b12 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(122,195,207) 0)
}

.b9b13 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(214,178,161) 0)
}

.b9b14 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(173,224,224) 0)
}

.b9b15 {
    background: -webkit-linear-gradient(left, rgb(207,147,122) 50%, rgb(224,224,224) 0)
}

.b10b0 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, transparent 0)
}

.b10b1 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(130,93,77) 0)
}

.b10b2 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(114,140,98) 0)
}

.b10b3 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(173,161,109) 0)
}

.b10b4 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(77,123,130) 0)
}

.b10b5 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(138,114,103) 0)
}

.b10b6 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(114,148,148) 0)
}

.b10b7 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(212,231,212) 0)
}

.b10b8 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(138,138,138) 0)
}

.b10b9 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(207,147,122) 0)
}

.b10b10 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(152,217,170) 0)
}

.b10b11 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(250,231,157) 0)
}

.b10b12 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(122,195,207) 0)
}

.b10b13 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(214,178,161) 0)
}

.b10b14 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(173,224,224) 0)
}

.b10b15 {
    background: -webkit-linear-gradient(left, rgb(152,217,170) 50%, rgb(224,224,224) 0)
}

.b11b0 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, transparent 0)
}

.b11b1 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(130,93,77) 0)
}

.b11b2 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(114,140,98) 0)
}

.b11b3 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(173,161,109) 0)
}

.b11b4 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(77,123,130) 0)
}

.b11b5 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(138,114,103) 0)
}

.b11b6 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(114,148,148) 0)
}

.b11b7 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(212,231,212) 0)
}

.b11b8 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(138,138,138) 0)
}

.b11b9 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(207,147,122) 0)
}

.b11b10 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(152,217,170) 0)
}

.b11b11 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(250,231,157) 0)
}

.b11b12 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(122,195,207) 0)
}

.b11b13 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(214,178,161) 0)
}

.b11b14 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(173,224,224) 0)
}

.b11b15 {
    background: -webkit-linear-gradient(left, rgb(250,231,157) 50%, rgb(224,224,224) 0)
}

.b12b0 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, transparent 0)
}

.b12b1 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(130,93,77) 0)
}

.b12b2 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(114,140,98) 0)
}

.b12b3 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(173,161,109) 0)
}

.b12b4 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(77,123,130) 0)
}

.b12b5 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(138,114,103) 0)
}

.b12b6 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(114,148,148) 0)
}

.b12b7 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(212,231,212) 0)
}

.b12b8 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(138,138,138) 0)
}

.b12b9 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(207,147,122) 0)
}

.b12b10 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(152,217,170) 0)
}

.b12b11 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(250,231,157) 0)
}

.b12b12 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(122,195,207) 0)
}

.b12b13 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(214,178,161) 0)
}

.b12b14 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(173,224,224) 0)
}

.b12b15 {
    background: -webkit-linear-gradient(left, rgb(122,195,207) 50%, rgb(224,224,224) 0)
}

.b13b0 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, transparent 0)
}

.b13b1 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(130,93,77) 0)
}

.b13b2 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(114,140,98) 0)
}

.b13b3 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(173,161,109) 0)
}

.b13b4 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(77,123,130) 0)
}

.b13b5 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(138,114,103) 0)
}

.b13b6 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(114,148,148) 0)
}

.b13b7 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(212,231,212) 0)
}

.b13b8 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(138,138,138) 0)
}

.b13b9 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(207,147,122) 0)
}

.b13b10 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(152,217,170) 0)
}

.b13b11 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(250,231,157) 0)
}

.b13b12 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(122,195,207) 0)
}

.b13b13 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(214,178,161) 0)
}

.b13b14 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(173,224,224) 0)
}

.b13b15 {
    background: -webkit-linear-gradient(left, rgb(214,178,161) 50%, rgb(224,224,224) 0)
}

.b14b0 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, transparent 0)
}

.b14b1 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(130,93,77) 0)
}

.b14b2 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(114,140,98) 0)
}

.b14b3 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(173,161,109) 0)
}

.b14b4 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(77,123,130) 0)
}

.b14b5 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(138,114,103) 0)
}

.b14b6 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(114,148,148) 0)
}

.b14b7 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(212,231,212) 0)
}

.b14b8 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(138,138,138) 0)
}

.b14b9 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(207,147,122) 0)
}

.b14b10 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(152,217,170) 0)
}

.b14b11 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(250,231,157) 0)
}

.b14b12 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(122,195,207) 0)
}

.b14b13 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(214,178,161) 0)
}

.b14b14 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(173,224,224) 0)
}

.b14b15 {
    background: -webkit-linear-gradient(left, rgb(173,224,224) 50%, rgb(224,224,224) 0)
}

.b15b0 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, transparent 0)
}

.b15b1 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(130,93,77) 0)
}

.b15b2 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(114,140,98) 0)
}

.b15b3 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(173,161,109) 0)
}

.b15b4 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(77,123,130) 0)
}

.b15b5 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(138,114,103) 0)
}

.b15b6 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(114,148,148) 0)
}

.b15b7 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(212,231,212) 0)
}

.b15b8 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(138,138,138) 0)
}

.b15b9 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(207,147,122) 0)
}

.b15b10 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(152,217,170) 0)
}

.b15b11 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(250,231,157) 0)
}

.b15b12 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(122,195,207) 0)
}

.b15b13 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(214,178,161) 0)
}

.b15b14 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(173,224,224) 0)
}

.b15b15 {
    background: -webkit-linear-gradient(left, rgb(224,224,224) 50%, rgb(224,224,224) 0)
}

.w0:after {
    color: rgb(117,117,117);
    text-shadow: rgb(117,117,117) 0 0 0, rgb(117,117,117) 0 0 0, rgb(117,117,117) 0 0 0, rgb(117,117,117) 0 0 0, rgb(117,117,117) 0 0 0
}

.w1:after {
    color: rgb(130,93,77);
    text-shadow: rgb(130,93,77) 0 0 0, rgb(130,93,77) 0 0 0, rgb(130,93,77) 0 0 0, rgb(130,93,77) 0 0 0, rgb(130,93,77) 0 0 0
}

.w2:after {
    color: rgb(114,140,98);
    text-shadow: rgb(114,140,98) 0 0 0, rgb(114,140,98) 0 0 0, rgb(114,140,98) 0 0 0, rgb(114,140,98) 0 0 0, rgb(114,140,98) 0 0 0
}

.w3:after {
    color: rgb(173,161,109);
    text-shadow: rgb(173,161,109) 0 0 0, rgb(173,161,109) 0 0 0, rgb(173,161,109) 0 0 0, rgb(173,161,109) 0 0 0, rgb(173,161,109) 0 0 0
}

.w4:after {
    color: rgb(77,123,130);
    text-shadow: rgb(77,123,130) 0 0 0, rgb(77,123,130) 0 0 0, rgb(77,123,130) 0 0 0, rgb(77,123,130) 0 0 0, rgb(77,123,130) 0 0 0
}

.w5:after {
    color: rgb(138,114,103);
    text-shadow: rgb(138,114,103) 0 0 0, rgb(138,114,103) 0 0 0, rgb(138,114,103) 0 0 0, rgb(138,114,103) 0 0 0, rgb(138,114,103) 0 0 0
}

.w6:after {
    color: rgb(114,148,148);
    text-shadow: rgb(114,148,148) 0 0 0, rgb(114,148,148) 0 0 0, rgb(114,148,148) 0 0 0, rgb(114,148,148) 0 0 0, rgb(114,148,148) 0 0 0
}

.w7:after {
    color: rgb(212,231,212);
    text-shadow: rgb(212,231,212) 0 0 0, rgb(212,231,212) 0 0 0, rgb(212,231,212) 0 0 0, rgb(212,231,212) 0 0 0, rgb(212,231,212) 0 0 0
}

.w8:after {
    color: rgb(138,138,138);
    text-shadow: rgb(138,138,138) 0 0 0, rgb(138,138,138) 0 0 0, rgb(138,138,138) 0 0 0, rgb(138,138,138) 0 0 0, rgb(138,138,138) 0 0 0
}

.w9:after {
    color: rgb(207,147,122);
    text-shadow: rgb(207,147,122) 0 0 0, rgb(207,147,122) 0 0 0, rgb(207,147,122) 0 0 0, rgb(207,147,122) 0 0 0, rgb(207,147,122) 0 0 0
}

.w10:after {
    color: rgb(152,217,170);
    text-shadow: rgb(152,217,170) 0 0 0, rgb(152,217,170) 0 0 0, rgb(152,217,170) 0 0 0, rgb(152,217,170) 0 0 0, rgb(152,217,170) 0 0 0
}

.w11:after {
    color: rgb(250,231,157);
    text-shadow: rgb(250,231,157) 0 0 0, rgb(250,231,157) 0 0 0, rgb(250,231,157) 0 0 0, rgb(250,231,157) 0 0 0, rgb(250,231,157) 0 0 0
}

.w12:after {
    color: rgb(122,195,207);
    text-shadow: rgb(122,195,207) 0 0 0, rgb(122,195,207) 0 0 0, rgb(122,195,207) 0 0 0, rgb(122,195,207) 0 0 0, rgb(122,195,207) 0 0 0
}

.w13:after {
    color: rgb(214,178,161);
    text-shadow: rgb(214,178,161) 0 0 0, rgb(214,178,161) 0 0 0, rgb(214,178,161) 0 0 0, rgb(214,178,161) 0 0 0, rgb(214,178,161) 0 0 0
}

.w14:after {
    color: rgb(173,224,224);
    text-shadow: rgb(173,224,224) 0 0 0, rgb(173,224,224) 0 0 0, rgb(173,224,224) 0 0 0, rgb(173,224,224) 0 0 0, rgb(173,224,224) 0 0 0
}

.w15:after {
    color: rgb(224,224,224);
    text-shadow: rgb(224,224,224) 0 0 0, rgb(224,224,224) 0 0 0, rgb(224,224,224) 0 0 0, rgb(224,224,224) 0 0 0, rgb(224,224,224) 0 0 0
}

.trans-fix .b1 {
    box-shadow: inset 0 0 5px 5px rgb(130,93,77)
}

.trans-fix .b2 {
    box-shadow: inset 0 0 5px 5px rgb(114,140,98)
}

.trans-fix .b3 {
    box-shadow: inset 0 0 5px 5px rgb(173,161,109)
}

.trans-fix .b4 {
    box-shadow: inset 0 0 5px 5px rgb(77,123,130)
}

.trans-fix .b5 {
    box-shadow: inset 0 0 5px 5px rgb(138,114,103)
}

.trans-fix .b6 {
    box-shadow: inset 0 0 5px 5px rgb(114,148,148)
}

.trans-fix .b7 {
    box-shadow: inset 0 0 5px 5px rgb(212,231,212)
}

.trans-fix .b8 {
    box-shadow: inset 0 0 5px 5px rgb(138,138,138)
}

.trans-fix .b9 {
    box-shadow: inset 0 0 5px 5px rgb(207,147,122)
}

.trans-fix .b10 {
    box-shadow: inset 0 0 5px 5px rgb(152,217,170)
}

.trans-fix .b11 {
    box-shadow: inset 0 0 5px 5px rgb(250,231,157)
}

.trans-fix .b12 {
    box-shadow: inset 0 0 5px 5px rgb(122,195,207)
}

.trans-fix .b13 {
    box-shadow: inset 0 0 5px 5px rgb(214,178,161)
}

.trans-fix .b14 {
    box-shadow: inset 0 0 5px 5px rgb(173,224,224)
}

.trans-fix .b15 {
    box-shadow: inset 0 0 5px 5px rgb(224,224,224)
}


/* special case */