.sp-color-demo-button {
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    padding: 1px;
    text-align: center;
}

.pickr {
    margin-right: 1px;
}

.pickr .pcr-button {
    height: 1.8em;
    width: 1.8em;
}

.pickr .pcr-button:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.pickr .pcr-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}