:root {
    --mmyellow: #CC5;
}

.dot {
    border-color: var(--mmyellow);
    position: absolute;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
}

.sp-color-demo-button {
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    text-align: left;
    border-width: 0px;
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 3px;
}

.sp-color-demo-button-big {
    height: 1.5em;
    width: 1.5em;
    font-size: 5em;
    border-radius: 50%;
    text-align: center;
    border-width: 0px;
}

.sp-color-demo-button:active {
    -webkit-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.75);
    -moz-box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.75);
    box-shadow: 0px 0px 0px 1px rgba(255, 255, 255, 0.75);
}

.modified-sign {
    content: "";
    top: 0;
    left: 0;
    width: 0;
    height: 0;
    display: inline-block;
    border-radius: 50%;
}

.pickr {
    margin-right: 2px;
}


/*
.pickr .pcr-button {
    height: 1.8em;
    width: 1.8em;
    border-radius: 50%;
    border-color: #FFF;
    border-style: solid;
    border-width: 1px;
}

.pickr .pcr-button:before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 0%;
    height: 0%;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.pickr .pcr-button:after {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border-top-left-radius: 50%;
    border-top-right-radius: 50%;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
} */


/* PTT */


/* .q0.b0 {
    color: var(--q0b0-color);
    background-color: var(--q0b0-bg-color);
}

.q0.b1 {
    color: var(--q0b1-color);
    background-color: var(--q0b1-bg-color);
}

.q0.b2 {
    color: var(--q0b2-color);
    background-color: var(--q0b2-bg-color);
}

.q0.b3 {
    color: var(--q0b3-color);
    background-color: var(--q0b3-bg-color);
}

.q0.b4 {
    color: var(--q0b4-color);
    background-color: var(--q0b4-bg-color);
}

.q0.b5 {
    color: var(--q0b5-color);
    background-color: var(--q0b5-bg-color);
}

.q0.b6 {
    color: var(--q0b6-color);
    background-color: var(--q0b6-bg-color);
}

.q0.b7 {
    color: var(--q0b7-color);
    background-color: var(--q0b7-bg-color);
}

.q0.b8 {
    color: var(--q0b8-color);
    background-color: var(--q0b8-bg-color);
}

.q0.b9 {
    color: var(--q0b9-color);
    background-color: var(--q0b9-bg-color);
}

.q0.b10 {
    color: var(--q0b10-color);
    background-color: var(--q0b10-bg-color);
}

.q0.b11 {
    color: var(--q0b11-color);
    background-color: var(--q0b11-bg-color);
}

.q0.b12 {
    color: var(--q0b12-color);
    background-color: var(--q0b12-bg-color);
}

.q0.b13 {
    color: var(--q0b13-color);
    background-color: var(--q0b13-bg-color);
}

.q0.b14 {
    color: var(--q0b14-color);
    background-color: var(--q0b14-bg-color);
}

.q0.b15 {
    color: var(--q0b15-color);
    background-color: var(--q0b15-bg-color);
}

.q1.b0 {
    color: var(--q1b0-color);
    background-color: var(--q1b0-bg-color);
}

.q1.b1 {
    color: var(--q1b1-color);
    background-color: var(--q1b1-bg-color);
}

.q1.b2 {
    color: var(--q1b2-color);
    background-color: var(--q1b2-bg-color);
}

.q1.b3 {
    color: var(--q1b3-color);
    background-color: var(--q1b3-bg-color);
}

.q1.b4 {
    color: var(--q1b4-color);
    background-color: var(--q1b4-bg-color);
}

.q1.b5 {
    color: var(--q1b5-color);
    background-color: var(--q1b5-bg-color);
}

.q1.b6 {
    color: var(--q1b6-color);
    background-color: var(--q1b6-bg-color);
}

.q1.b7 {
    color: var(--q1b7-color);
    background-color: var(--q1b7-bg-color);
}

.q1.b8 {
    color: var(--q1b8-color);
    background-color: var(--q1b8-bg-color);
}

.q1.b9 {
    color: var(--q1b9-color);
    background-color: var(--q1b9-bg-color);
}

.q1.b10 {
    color: var(--q1b10-color);
    background-color: var(--q1b10-bg-color);
}

.q1.b11 {
    color: var(--q1b11-color);
    background-color: var(--q1b11-bg-color);
}

.q1.b12 {
    color: var(--q1b12-color);
    background-color: var(--q1b12-bg-color);
}

.q1.b13 {
    color: var(--q1b13-color);
    background-color: var(--q1b13-bg-color);
}

.q1.b14 {
    color: var(--q1b14-color);
    background-color: var(--q1b14-bg-color);
}

.q1.b15 {
    color: var(--q1b15-color);
    background-color: var(--q1b15-bg-color);
}

.q2.b0 {
    color: var(--q2b0-color);
    background-color: var(--q2b0-bg-color);
}

.q2.b1 {
    color: var(--q2b1-color);
    background-color: var(--q2b1-bg-color);
}

.q2.b2 {
    color: var(--q2b2-color);
    background-color: var(--q2b2-bg-color);
}

.q2.b3 {
    color: var(--q2b3-color);
    background-color: var(--q2b3-bg-color);
}

.q2.b4 {
    color: var(--q2b4-color);
    background-color: var(--q2b4-bg-color);
}

.q2.b5 {
    color: var(--q2b5-color);
    background-color: var(--q2b5-bg-color);
}

.q2.b6 {
    color: var(--q2b6-color);
    background-color: var(--q2b6-bg-color);
}

.q2.b7 {
    color: var(--q2b7-color);
    background-color: var(--q2b7-bg-color);
}

.q2.b8 {
    color: var(--q2b8-color);
    background-color: var(--q2b8-bg-color);
}

.q2.b9 {
    color: var(--q2b9-color);
    background-color: var(--q2b9-bg-color);
}

.q2.b10 {
    color: var(--q2b10-color);
    background-color: var(--q2b10-bg-color);
}

.q2.b11 {
    color: var(--q2b11-color);
    background-color: var(--q2b11-bg-color);
}

.q2.b12 {
    color: var(--q2b12-color);
    background-color: var(--q2b12-bg-color);
}

.q2.b13 {
    color: var(--q2b13-color);
    background-color: var(--q2b13-bg-color);
}

.q2.b14 {
    color: var(--q2b14-color);
    background-color: var(--q2b14-bg-color);
}

.q2.b15 {
    color: var(--q2b15-color);
    background-color: var(--q2b15-bg-color);
}

.q3.b0 {
    color: var(--q3b0-color);
    background-color: var(--q3b0-bg-color);
}

.q3.b1 {
    color: var(--q3b1-color);
    background-color: var(--q3b1-bg-color);
}

.q3.b2 {
    color: var(--q3b2-color);
    background-color: var(--q3b2-bg-color);
}

.q3.b3 {
    color: var(--q3b3-color);
    background-color: var(--q3b3-bg-color);
}

.q3.b4 {
    color: var(--q3b4-color);
    background-color: var(--q3b4-bg-color);
}

.q3.b5 {
    color: var(--q3b5-color);
    background-color: var(--q3b5-bg-color);
}

.q3.b6 {
    color: var(--q3b6-color);
    background-color: var(--q3b6-bg-color);
}

.q3.b7 {
    color: var(--q3b7-color);
    background-color: var(--q3b7-bg-color);
}

.q3.b8 {
    color: var(--q3b8-color);
    background-color: var(--q3b8-bg-color);
}

.q3.b9 {
    color: var(--q3b9-color);
    background-color: var(--q3b9-bg-color);
}

.q3.b10 {
    color: var(--q3b10-color);
    background-color: var(--q3b10-bg-color);
}

.q3.b11 {
    color: var(--q3b11-color);
    background-color: var(--q3b11-bg-color);
}

.q3.b12 {
    color: var(--q3b12-color);
    background-color: var(--q3b12-bg-color);
}

.q3.b13 {
    color: var(--q3b13-color);
    background-color: var(--q3b13-bg-color);
}

.q3.b14 {
    color: var(--q3b14-color);
    background-color: var(--q3b14-bg-color);
}

.q3.b15 {
    color: var(--q3b15-color);
    background-color: var(--q3b15-bg-color);
}

.q4.b0 {
    color: var(--q4b0-color);
    background-color: var(--q4b0-bg-color);
}

.q4.b1 {
    color: var(--q4b1-color);
    background-color: var(--q4b1-bg-color);
}

.q4.b2 {
    color: var(--q4b2-color);
    background-color: var(--q4b2-bg-color);
}

.q4.b3 {
    color: var(--q4b3-color);
    background-color: var(--q4b3-bg-color);
}

.q4.b4 {
    color: var(--q4b4-color);
    background-color: var(--q4b4-bg-color);
}

.q4.b5 {
    color: var(--q4b5-color);
    background-color: var(--q4b5-bg-color);
}

.q4.b6 {
    color: var(--q4b6-color);
    background-color: var(--q4b6-bg-color);
}

.q4.b7 {
    color: var(--q4b7-color);
    background-color: var(--q4b7-bg-color);
}

.q4.b8 {
    color: var(--q4b8-color);
    background-color: var(--q4b8-bg-color);
}

.q4.b9 {
    color: var(--q4b9-color);
    background-color: var(--q4b9-bg-color);
}

.q4.b10 {
    color: var(--q4b10-color);
    background-color: var(--q4b10-bg-color);
}

.q4.b11 {
    color: var(--q4b11-color);
    background-color: var(--q4b11-bg-color);
}

.q4.b12 {
    color: var(--q4b12-color);
    background-color: var(--q4b12-bg-color);
}

.q4.b13 {
    color: var(--q4b13-color);
    background-color: var(--q4b13-bg-color);
}

.q4.b14 {
    color: var(--q4b14-color);
    background-color: var(--q4b14-bg-color);
}

.q4.b15 {
    color: var(--q4b15-color);
    background-color: var(--q4b15-bg-color);
}

.q5.b0 {
    color: var(--q5b0-color);
    background-color: var(--q5b0-bg-color);
}

.q5.b1 {
    color: var(--q5b1-color);
    background-color: var(--q5b1-bg-color);
}

.q5.b2 {
    color: var(--q5b2-color);
    background-color: var(--q5b2-bg-color);
}

.q5.b3 {
    color: var(--q5b3-color);
    background-color: var(--q5b3-bg-color);
}

.q5.b4 {
    color: var(--q5b4-color);
    background-color: var(--q5b4-bg-color);
}

.q5.b5 {
    color: var(--q5b5-color);
    background-color: var(--q5b5-bg-color);
}

.q5.b6 {
    color: var(--q5b6-color);
    background-color: var(--q5b6-bg-color);
}

.q5.b7 {
    color: var(--q5b7-color);
    background-color: var(--q5b7-bg-color);
}

.q5.b8 {
    color: var(--q5b8-color);
    background-color: var(--q5b8-bg-color);
}

.q5.b9 {
    color: var(--q5b9-color);
    background-color: var(--q5b9-bg-color);
}

.q5.b10 {
    color: var(--q5b10-color);
    background-color: var(--q5b10-bg-color);
}

.q5.b11 {
    color: var(--q5b11-color);
    background-color: var(--q5b11-bg-color);
}

.q5.b12 {
    color: var(--q5b12-color);
    background-color: var(--q5b12-bg-color);
}

.q5.b13 {
    color: var(--q5b13-color);
    background-color: var(--q5b13-bg-color);
}

.q5.b14 {
    color: var(--q5b14-color);
    background-color: var(--q5b14-bg-color);
}

.q5.b15 {
    color: var(--q5b15-color);
    background-color: var(--q5b15-bg-color);
}

.q6.b0 {
    color: var(--q6b0-color);
    background-color: var(--q6b0-bg-color);
}

.q6.b1 {
    color: var(--q6b1-color);
    background-color: var(--q6b1-bg-color);
}

.q6.b2 {
    color: var(--q6b2-color);
    background-color: var(--q6b2-bg-color);
}

.q6.b3 {
    color: var(--q6b3-color);
    background-color: var(--q6b3-bg-color);
}

.q6.b4 {
    color: var(--q6b4-color);
    background-color: var(--q6b4-bg-color);
}

.q6.b5 {
    color: var(--q6b5-color);
    background-color: var(--q6b5-bg-color);
}

.q6.b6 {
    color: var(--q6b6-color);
    background-color: var(--q6b6-bg-color);
}

.q6.b7 {
    color: var(--q6b7-color);
    background-color: var(--q6b7-bg-color);
}

.q6.b8 {
    color: var(--q6b8-color);
    background-color: var(--q6b8-bg-color);
}

.q6.b9 {
    color: var(--q6b9-color);
    background-color: var(--q6b9-bg-color);
}

.q6.b10 {
    color: var(--q6b10-color);
    background-color: var(--q6b10-bg-color);
}

.q6.b11 {
    color: var(--q6b11-color);
    background-color: var(--q6b11-bg-color);
}

.q6.b12 {
    color: var(--q6b12-color);
    background-color: var(--q6b12-bg-color);
}

.q6.b13 {
    color: var(--q6b13-color);
    background-color: var(--q6b13-bg-color);
}

.q6.b14 {
    color: var(--q6b14-color);
    background-color: var(--q6b14-bg-color);
}

.q6.b15 {
    color: var(--q6b15-color);
    background-color: var(--q6b15-bg-color);
}

.q7.b0 {
    color: var(--q7b0-color);
    background-color: var(--q7b0-bg-color);
}

.q7.b1 {
    color: var(--q7b1-color);
    background-color: var(--q7b1-bg-color);
}

.q7.b2 {
    color: var(--q7b2-color);
    background-color: var(--q7b2-bg-color);
}

.q7.b3 {
    color: var(--q7b3-color);
    background-color: var(--q7b3-bg-color);
}

.q7.b4 {
    color: var(--q7b4-color);
    background-color: var(--q7b4-bg-color);
}

.q7.b5 {
    color: var(--q7b5-color);
    background-color: var(--q7b5-bg-color);
}

.q7.b6 {
    color: var(--q7b6-color);
    background-color: var(--q7b6-bg-color);
}

.q7.b7 {
    color: var(--q7b7-color);
    background-color: var(--q7b7-bg-color);
}

.q7.b8 {
    color: var(--q7b8-color);
    background-color: var(--q7b8-bg-color);
}

.q7.b9 {
    color: var(--q7b9-color);
    background-color: var(--q7b9-bg-color);
}

.q7.b10 {
    color: var(--q7b10-color);
    background-color: var(--q7b10-bg-color);
}

.q7.b11 {
    color: var(--q7b11-color);
    background-color: var(--q7b11-bg-color);
}

.q7.b12 {
    color: var(--q7b12-color);
    background-color: var(--q7b12-bg-color);
}

.q7.b13 {
    color: var(--q7b13-color);
    background-color: var(--q7b13-bg-color);
}

.q7.b14 {
    color: var(--q7b14-color);
    background-color: var(--q7b14-bg-color);
}

.q7.b15 {
    color: var(--q7b15-color);
    background-color: var(--q7b15-bg-color);
}

.q8.b0 {
    color: var(--q8b0-color);
    background-color: var(--q8b0-bg-color);
}

.q8.b1 {
    color: var(--q8b1-color);
    background-color: var(--q8b1-bg-color);
}

.q8.b2 {
    color: var(--q8b2-color);
    background-color: var(--q8b2-bg-color);
}

.q8.b3 {
    color: var(--q8b3-color);
    background-color: var(--q8b3-bg-color);
}

.q8.b4 {
    color: var(--q8b4-color);
    background-color: var(--q8b4-bg-color);
}

.q8.b5 {
    color: var(--q8b5-color);
    background-color: var(--q8b5-bg-color);
}

.q8.b6 {
    color: var(--q8b6-color);
    background-color: var(--q8b6-bg-color);
}

.q8.b7 {
    color: var(--q8b7-color);
    background-color: var(--q8b7-bg-color);
}

.q8.b8 {
    color: var(--q8b8-color);
    background-color: var(--q8b8-bg-color);
}

.q8.b9 {
    color: var(--q8b9-color);
    background-color: var(--q8b9-bg-color);
}

.q8.b10 {
    color: var(--q8b10-color);
    background-color: var(--q8b10-bg-color);
}

.q8.b11 {
    color: var(--q8b11-color);
    background-color: var(--q8b11-bg-color);
}

.q8.b12 {
    color: var(--q8b12-color);
    background-color: var(--q8b12-bg-color);
}

.q8.b13 {
    color: var(--q8b13-color);
    background-color: var(--q8b13-bg-color);
}

.q8.b14 {
    color: var(--q8b14-color);
    background-color: var(--q8b14-bg-color);
}

.q8.b15 {
    color: var(--q8b15-color);
    background-color: var(--q8b15-bg-color);
}

.q9.b0 {
    color: var(--q9b0-color);
    background-color: var(--q9b0-bg-color);
}

.q9.b1 {
    color: var(--q9b1-color);
    background-color: var(--q9b1-bg-color);
}

.q9.b2 {
    color: var(--q9b2-color);
    background-color: var(--q9b2-bg-color);
}

.q9.b3 {
    color: var(--q9b3-color);
    background-color: var(--q9b3-bg-color);
}

.q9.b4 {
    color: var(--q9b4-color);
    background-color: var(--q9b4-bg-color);
}

.q9.b5 {
    color: var(--q9b5-color);
    background-color: var(--q9b5-bg-color);
}

.q9.b6 {
    color: var(--q9b6-color);
    background-color: var(--q9b6-bg-color);
}

.q9.b7 {
    color: var(--q9b7-color);
    background-color: var(--q9b7-bg-color);
}

.q9.b8 {
    color: var(--q9b8-color);
    background-color: var(--q9b8-bg-color);
}

.q9.b9 {
    color: var(--q9b9-color);
    background-color: var(--q9b9-bg-color);
}

.q9.b10 {
    color: var(--q9b10-color);
    background-color: var(--q9b10-bg-color);
}

.q9.b11 {
    color: var(--q9b11-color);
    background-color: var(--q9b11-bg-color);
}

.q9.b12 {
    color: var(--q9b12-color);
    background-color: var(--q9b12-bg-color);
}

.q9.b13 {
    color: var(--q9b13-color);
    background-color: var(--q9b13-bg-color);
}

.q9.b14 {
    color: var(--q9b14-color);
    background-color: var(--q9b14-bg-color);
}

.q9.b15 {
    color: var(--q9b15-color);
    background-color: var(--q9b15-bg-color);
}

.q10.b0 {
    color: var(--q10b0-color);
    background-color: var(--q10b0-bg-color);
}

.q10.b1 {
    color: var(--q10b1-color);
    background-color: var(--q10b1-bg-color);
}

.q10.b2 {
    color: var(--q10b2-color);
    background-color: var(--q10b2-bg-color);
}

.q10.b3 {
    color: var(--q10b3-color);
    background-color: var(--q10b3-bg-color);
}

.q10.b4 {
    color: var(--q10b4-color);
    background-color: var(--q10b4-bg-color);
}

.q10.b5 {
    color: var(--q10b5-color);
    background-color: var(--q10b5-bg-color);
}

.q10.b6 {
    color: var(--q10b6-color);
    background-color: var(--q10b6-bg-color);
}

.q10.b7 {
    color: var(--q10b7-color);
    background-color: var(--q10b7-bg-color);
}

.q10.b8 {
    color: var(--q10b8-color);
    background-color: var(--q10b8-bg-color);
}

.q10.b9 {
    color: var(--q10b9-color);
    background-color: var(--q10b9-bg-color);
}

.q10.b10 {
    color: var(--q10b10-color);
    background-color: var(--q10b10-bg-color);
}

.q10.b11 {
    color: var(--q10b11-color);
    background-color: var(--q10b11-bg-color);
}

.q10.b12 {
    color: var(--q10b12-color);
    background-color: var(--q10b12-bg-color);
}

.q10.b13 {
    color: var(--q10b13-color);
    background-color: var(--q10b13-bg-color);
}

.q10.b14 {
    color: var(--q10b14-color);
    background-color: var(--q10b14-bg-color);
}

.q10.b15 {
    color: var(--q10b15-color);
    background-color: var(--q10b15-bg-color);
}

.q11.b0 {
    color: var(--q11b0-color);
    background-color: var(--q11b0-bg-color);
}

.q11.b1 {
    color: var(--q11b1-color);
    background-color: var(--q11b1-bg-color);
}

.q11.b2 {
    color: var(--q11b2-color);
    background-color: var(--q11b2-bg-color);
}

.q11.b3 {
    color: var(--q11b3-color);
    background-color: var(--q11b3-bg-color);
}

.q11.b4 {
    color: var(--q11b4-color);
    background-color: var(--q11b4-bg-color);
}

.q11.b5 {
    color: var(--q11b5-color);
    background-color: var(--q11b5-bg-color);
}

.q11.b6 {
    color: var(--q11b6-color);
    background-color: var(--q11b6-bg-color);
}

.q11.b7 {
    color: var(--q11b7-color);
    background-color: var(--q11b7-bg-color);
}

.q11.b8 {
    color: var(--q11b8-color);
    background-color: var(--q11b8-bg-color);
}

.q11.b9 {
    color: var(--q11b9-color);
    background-color: var(--q11b9-bg-color);
}

.q11.b10 {
    color: var(--q11b10-color);
    background-color: var(--q11b10-bg-color);
}

.q11.b11 {
    color: var(--q11b11-color);
    background-color: var(--q11b11-bg-color);
}

.q11.b12 {
    color: var(--q11b12-color);
    background-color: var(--q11b12-bg-color);
}

.q11.b13 {
    color: var(--q11b13-color);
    background-color: var(--q11b13-bg-color);
}

.q11.b14 {
    color: var(--q11b14-color);
    background-color: var(--q11b14-bg-color);
}

.q11.b15 {
    color: var(--q11b15-color);
    background-color: var(--q11b15-bg-color);
}

.q12.b0 {
    color: var(--q12b0-color);
    background-color: var(--q12b0-bg-color);
}

.q12.b1 {
    color: var(--q12b1-color);
    background-color: var(--q12b1-bg-color);
}

.q12.b2 {
    color: var(--q12b2-color);
    background-color: var(--q12b2-bg-color);
}

.q12.b3 {
    color: var(--q12b3-color);
    background-color: var(--q12b3-bg-color);
}

.q12.b4 {
    color: var(--q12b4-color);
    background-color: var(--q12b4-bg-color);
}

.q12.b5 {
    color: var(--q12b5-color);
    background-color: var(--q12b5-bg-color);
}

.q12.b6 {
    color: var(--q12b6-color);
    background-color: var(--q12b6-bg-color);
}

.q12.b7 {
    color: var(--q12b7-color);
    background-color: var(--q12b7-bg-color);
}

.q12.b8 {
    color: var(--q12b8-color);
    background-color: var(--q12b8-bg-color);
}

.q12.b9 {
    color: var(--q12b9-color);
    background-color: var(--q12b9-bg-color);
}

.q12.b10 {
    color: var(--q12b10-color);
    background-color: var(--q12b10-bg-color);
}

.q12.b11 {
    color: var(--q12b11-color);
    background-color: var(--q12b11-bg-color);
}

.q12.b12 {
    color: var(--q12b12-color);
    background-color: var(--q12b12-bg-color);
}

.q12.b13 {
    color: var(--q12b13-color);
    background-color: var(--q12b13-bg-color);
}

.q12.b14 {
    color: var(--q12b14-color);
    background-color: var(--q12b14-bg-color);
}

.q12.b15 {
    color: var(--q12b15-color);
    background-color: var(--q12b15-bg-color);
}

.q13.b0 {
    color: var(--q13b0-color);
    background-color: var(--q13b0-bg-color);
}

.q13.b1 {
    color: var(--q13b1-color);
    background-color: var(--q13b1-bg-color);
}

.q13.b2 {
    color: var(--q13b2-color);
    background-color: var(--q13b2-bg-color);
}

.q13.b3 {
    color: var(--q13b3-color);
    background-color: var(--q13b3-bg-color);
}

.q13.b4 {
    color: var(--q13b4-color);
    background-color: var(--q13b4-bg-color);
}

.q13.b5 {
    color: var(--q13b5-color);
    background-color: var(--q13b5-bg-color);
}

.q13.b6 {
    color: var(--q13b6-color);
    background-color: var(--q13b6-bg-color);
}

.q13.b7 {
    color: var(--q13b7-color);
    background-color: var(--q13b7-bg-color);
}

.q13.b8 {
    color: var(--q13b8-color);
    background-color: var(--q13b8-bg-color);
}

.q13.b9 {
    color: var(--q13b9-color);
    background-color: var(--q13b9-bg-color);
}

.q13.b10 {
    color: var(--q13b10-color);
    background-color: var(--q13b10-bg-color);
}

.q13.b11 {
    color: var(--q13b11-color);
    background-color: var(--q13b11-bg-color);
}

.q13.b12 {
    color: var(--q13b12-color);
    background-color: var(--q13b12-bg-color);
}

.q13.b13 {
    color: var(--q13b13-color);
    background-color: var(--q13b13-bg-color);
}

.q13.b14 {
    color: var(--q13b14-color);
    background-color: var(--q13b14-bg-color);
}

.q13.b15 {
    color: var(--q13b15-color);
    background-color: var(--q13b15-bg-color);
}

.q14.b0 {
    color: var(--q14b0-color);
    background-color: var(--q14b0-bg-color);
}

.q14.b1 {
    color: var(--q14b1-color);
    background-color: var(--q14b1-bg-color);
}

.q14.b2 {
    color: var(--q14b2-color);
    background-color: var(--q14b2-bg-color);
}

.q14.b3 {
    color: var(--q14b3-color);
    background-color: var(--q14b3-bg-color);
}

.q14.b4 {
    color: var(--q14b4-color);
    background-color: var(--q14b4-bg-color);
}

.q14.b5 {
    color: var(--q14b5-color);
    background-color: var(--q14b5-bg-color);
}

.q14.b6 {
    color: var(--q14b6-color);
    background-color: var(--q14b6-bg-color);
}

.q14.b7 {
    color: var(--q14b7-color);
    background-color: var(--q14b7-bg-color);
}

.q14.b8 {
    color: var(--q14b8-color);
    background-color: var(--q14b8-bg-color);
}

.q14.b9 {
    color: var(--q14b9-color);
    background-color: var(--q14b9-bg-color);
}

.q14.b10 {
    color: var(--q14b10-color);
    background-color: var(--q14b10-bg-color);
}

.q14.b11 {
    color: var(--q14b11-color);
    background-color: var(--q14b11-bg-color);
}

.q14.b12 {
    color: var(--q14b12-color);
    background-color: var(--q14b12-bg-color);
}

.q14.b13 {
    color: var(--q14b13-color);
    background-color: var(--q14b13-bg-color);
}

.q14.b14 {
    color: var(--q14b14-color);
    background-color: var(--q14b14-bg-color);
}

.q14.b15 {
    color: var(--q14b15-color);
    background-color: var(--q14b15-bg-color);
}

.q15.b0 {
    color: var(--q15b0-color);
    background-color: var(--q15b0-bg-color);
}

.q15.b1 {
    color: var(--q15b1-color);
    background-color: var(--q15b1-bg-color);
}

.q15.b2 {
    color: var(--q15b2-color);
    background-color: var(--q15b2-bg-color);
}

.q15.b3 {
    color: var(--q15b3-color);
    background-color: var(--q15b3-bg-color);
}

.q15.b4 {
    color: var(--q15b4-color);
    background-color: var(--q15b4-bg-color);
}

.q15.b5 {
    color: var(--q15b5-color);
    background-color: var(--q15b5-bg-color);
}

.q15.b6 {
    color: var(--q15b6-color);
    background-color: var(--q15b6-bg-color);
}

.q15.b7 {
    color: var(--q15b7-color);
    background-color: var(--q15b7-bg-color);
}

.q15.b8 {
    color: var(--q15b8-color);
    background-color: var(--q15b8-bg-color);
}

.q15.b9 {
    color: var(--q15b9-color);
    background-color: var(--q15b9-bg-color);
}

.q15.b10 {
    color: var(--q15b10-color);
    background-color: var(--q15b10-bg-color);
}

.q15.b11 {
    color: var(--q15b11-color);
    background-color: var(--q15b11-bg-color);
}

.q15.b12 {
    color: var(--q15b12-color);
    background-color: var(--q15b12-bg-color);
}

.q15.b13 {
    color: var(--q15b13-color);
    background-color: var(--q15b13-bg-color);
}

.q15.b14 {
    color: var(--q15b14-color);
    background-color: var(--q15b14-bg-color);
}

.q15.b15 {
    color: var(--q15b15-color);
    background-color: var(--q15b15-bg-color);
} */

.q0 {
    color: var(--black) !important;
}

.q1 {
    color: var(--red) !important;
}

.q2 {
    color: var(--green) !important;
}

.q3 {
    color: var(--yellow) !important;
}

.q4 {
    color: var(--blue) !important;
}

.q5 {
    color: var(--magenta) !important;
}

.q6 {
    color: var(--cyan) !important;
}

.q7 {
    color: var(--white) !important;
}

.q8 {
    color: var(--black-light) !important;
}

.q9 {
    color: var(--red-light) !important;
}

.q10 {
    color: var(--green-light) !important;
}

.q11 {
    color: var(--yellow-light) !important;
}

.q12 {
    color: var(--blue-light) !important;
}

.q13 {
    color: var(--magenta-light) !important;
}

.q14 {
    color: var(--cyan-light) !important;
}

.q15 {
    color: var(--white-light) !important;
}

.b0 {
    background-color: transparent
}

.b1 {
    background-color: var(--red)
}

.b2 {
    background-color: var(--green)
}

.b3 {
    background-color: var(--yellow)
}

.b4 {
    background-color: var(--blue)
}

.b5 {
    background-color: var(--magenta)
}

.b6 {
    background-color: var(--cyan)
}

.b7 {
    background-color: var(--white)
}

.b8 {
    background-color: var(--black-light)
}

.b9 {
    background-color: var(--red-light)
}

.b10 {
    background-color: var(--green-light)
}

.b11 {
    background-color: var(--yellow-light)
}

.b12 {
    background-color: var(--blue-light)
}

.b13 {
    background-color: var(--magenta-light)
}

.b14 {
    background-color: var(--cyan-light)
}

.b15 {
    background-color: var(--white-light)
}