body,
.main {
    color: rgb(255,255,255);
    background-color: rgb(51,51,51);
}

#cursor{
    color: rgb(255,255,255);
}

.blink--active .qq,
.blink--active .qq0 {
    color: RGBA(0, 0, 0, 0);
    background-color: inherit
}

.blink--active .qq1 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,43,43)
}

.blink--active .qq2 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(152,251,152)
}

.blink--active .qq3 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(240,230,140)
}

.blink--active .qq4 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(205,133,63)
}

.blink--active .qq5 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,222,173)
}

.blink--active .qq6 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,160,160)
}

.blink--active .qq7 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,255,255)
}

.blink--active .qq8 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(85,85,85)
}

.blink--active .qq9 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,85,85)
}

.blink--active .qq10 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(85,255,85)
}

.blink--active .qq11 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,255,85)
}

.blink--active .qq12 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(135,206,255)
}

.blink--active .qq13 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,85,255)
}

.blink--active .qq14 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,215,0)
}

.blink--active .qq15 {
    color: RGBA(0, 0, 0, 0);
    background-color: rgb(255,255,255)
}

.q0 {
    color: rgb(77,77,77)
}

.q1 {
    color: rgb(255,43,43)
}

.q2 {
    color: rgb(152,251,152)
}

.q3 {
    color: rgb(240,230,140)
}

.q4 {
    color: rgb(205,133,63)
}

.q5 {
    color: rgb(255,222,173)
}

.q6 {
    color: rgb(255,160,160)
}

.q7 {
    color: rgb(255,255,255)
}

.q8 {
    color: darken(rgb(255,255,255), 24%)
}

.q9 {
    color: rgb(255,85,85)
}

.q10 {
    color: rgb(85,255,85)
}

.q11 {
    color: rgb(255,255,85)
}

.q12 {
    color: rgb(135,206,255)
}

.q13 {
    color: rgb(255,85,255)
}

.q14 {
    color: rgb(255,215,0)
}

.q15 {
    color: rgb(255,255,255)
}

.b0 {
    background-color: transparent
}

.b1 {
    background-color: rgb(255,43,43)
}

.b2 {
    background-color: rgb(152,251,152)
}

.b3 {
    background-color: rgb(240,230,140)
}

.b4 {
    background-color: rgb(205,133,63)
}

.b5 {
    background-color: rgb(255,222,173)
}

.b6 {
    background-color: rgb(255,160,160)
}

.b7 {
    background-color: rgb(255,255,255)
}

.b8 {
    background-color: rgb(85,85,85)
}

.b9 {
    background-color: rgb(255,85,85)
}

.b10 {
    background-color: rgb(85,255,85)
}

.b11 {
    background-color: rgb(255,255,85)
}

.b12 {
    background-color: rgb(135,206,255)
}

.b13 {
    background-color: rgb(255,85,255)
}

.b14 {
    background-color: rgb(255,215,0)
}

.b15 {
    background-color: rgb(255,255,255)
}

.b0b0 {
    background: -webkit-linear-gradient(left, transparent 50%, transparent 0)
}

.b0b1 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,43,43) 0)
}

.b0b2 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(152,251,152) 0)
}

.b0b3 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(240,230,140) 0)
}

.b0b4 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(205,133,63) 0)
}

.b0b5 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,222,173) 0)
}

.b0b6 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,160,160) 0)
}

.b0b7 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,255,255) 0)
}

.b0b8 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(85,85,85) 0)
}

.b0b9 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,85,85) 0)
}

.b0b10 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(85,255,85) 0)
}

.b0b11 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,255,85) 0)
}

.b0b12 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(135,206,255) 0)
}

.b0b13 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,85,255) 0)
}

.b0b14 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,215,0) 0)
}

.b0b15 {
    background: -webkit-linear-gradient(left, transparent 50%, rgb(255,255,255) 0)
}

.b1b0 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, transparent 0)
}

.b1b1 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,43,43) 0)
}

.b1b2 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(152,251,152) 0)
}

.b1b3 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(240,230,140) 0)
}

.b1b4 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(205,133,63) 0)
}

.b1b5 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,222,173) 0)
}

.b1b6 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,160,160) 0)
}

.b1b7 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,255,255) 0)
}

.b1b8 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(85,85,85) 0)
}

.b1b9 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,85,85) 0)
}

.b1b10 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(85,255,85) 0)
}

.b1b11 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,255,85) 0)
}

.b1b12 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(135,206,255) 0)
}

.b1b13 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,85,255) 0)
}

.b1b14 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,215,0) 0)
}

.b1b15 {
    background: -webkit-linear-gradient(left, rgb(255,43,43) 50%, rgb(255,255,255) 0)
}

.b2b0 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, transparent 0)
}

.b2b1 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,43,43) 0)
}

.b2b2 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(152,251,152) 0)
}

.b2b3 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(240,230,140) 0)
}

.b2b4 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(205,133,63) 0)
}

.b2b5 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,222,173) 0)
}

.b2b6 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,160,160) 0)
}

.b2b7 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,255,255) 0)
}

.b2b8 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(85,85,85) 0)
}

.b2b9 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,85,85) 0)
}

.b2b10 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(85,255,85) 0)
}

.b2b11 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,255,85) 0)
}

.b2b12 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(135,206,255) 0)
}

.b2b13 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,85,255) 0)
}

.b2b14 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,215,0) 0)
}

.b2b15 {
    background: -webkit-linear-gradient(left, rgb(152,251,152) 50%, rgb(255,255,255) 0)
}

.b3b0 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, transparent 0)
}

.b3b1 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,43,43) 0)
}

.b3b2 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(152,251,152) 0)
}

.b3b3 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(240,230,140) 0)
}

.b3b4 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(205,133,63) 0)
}

.b3b5 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,222,173) 0)
}

.b3b6 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,160,160) 0)
}

.b3b7 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,255,255) 0)
}

.b3b8 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(85,85,85) 0)
}

.b3b9 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,85,85) 0)
}

.b3b10 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(85,255,85) 0)
}

.b3b11 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,255,85) 0)
}

.b3b12 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(135,206,255) 0)
}

.b3b13 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,85,255) 0)
}

.b3b14 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,215,0) 0)
}

.b3b15 {
    background: -webkit-linear-gradient(left, rgb(240,230,140) 50%, rgb(255,255,255) 0)
}

.b4b0 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, transparent 0)
}

.b4b1 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,43,43) 0)
}

.b4b2 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(152,251,152) 0)
}

.b4b3 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(240,230,140) 0)
}

.b4b4 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(205,133,63) 0)
}

.b4b5 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,222,173) 0)
}

.b4b6 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,160,160) 0)
}

.b4b7 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,255,255) 0)
}

.b4b8 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(85,85,85) 0)
}

.b4b9 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,85,85) 0)
}

.b4b10 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(85,255,85) 0)
}

.b4b11 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,255,85) 0)
}

.b4b12 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(135,206,255) 0)
}

.b4b13 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,85,255) 0)
}

.b4b14 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,215,0) 0)
}

.b4b15 {
    background: -webkit-linear-gradient(left, rgb(205,133,63) 50%, rgb(255,255,255) 0)
}

.b5b0 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, transparent 0)
}

.b5b1 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,43,43) 0)
}

.b5b2 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(152,251,152) 0)
}

.b5b3 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(240,230,140) 0)
}

.b5b4 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(205,133,63) 0)
}

.b5b5 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,222,173) 0)
}

.b5b6 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,160,160) 0)
}

.b5b7 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,255,255) 0)
}

.b5b8 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(85,85,85) 0)
}

.b5b9 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,85,85) 0)
}

.b5b10 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(85,255,85) 0)
}

.b5b11 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,255,85) 0)
}

.b5b12 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(135,206,255) 0)
}

.b5b13 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,85,255) 0)
}

.b5b14 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,215,0) 0)
}

.b5b15 {
    background: -webkit-linear-gradient(left, rgb(255,222,173) 50%, rgb(255,255,255) 0)
}

.b6b0 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, transparent 0)
}

.b6b1 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,43,43) 0)
}

.b6b2 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(152,251,152) 0)
}

.b6b3 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(240,230,140) 0)
}

.b6b4 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(205,133,63) 0)
}

.b6b5 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,222,173) 0)
}

.b6b6 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,160,160) 0)
}

.b6b7 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,255,255) 0)
}

.b6b8 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(85,85,85) 0)
}

.b6b9 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,85,85) 0)
}

.b6b10 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(85,255,85) 0)
}

.b6b11 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,255,85) 0)
}

.b6b12 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(135,206,255) 0)
}

.b6b13 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,85,255) 0)
}

.b6b14 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,215,0) 0)
}

.b6b15 {
    background: -webkit-linear-gradient(left, rgb(255,160,160) 50%, rgb(255,255,255) 0)
}

.b7b0 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, transparent 0)
}

.b7b1 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,43,43) 0)
}

.b7b2 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(152,251,152) 0)
}

.b7b3 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(240,230,140) 0)
}

.b7b4 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(205,133,63) 0)
}

.b7b5 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,222,173) 0)
}

.b7b6 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,160,160) 0)
}

.b7b7 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,255,255) 0)
}

.b7b8 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(85,85,85) 0)
}

.b7b9 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,85,85) 0)
}

.b7b10 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(85,255,85) 0)
}

.b7b11 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,255,85) 0)
}

.b7b12 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(135,206,255) 0)
}

.b7b13 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,85,255) 0)
}

.b7b14 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,215,0) 0)
}

.b7b15 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,255,255) 0)
}

.b8b0 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, transparent 0)
}

.b8b1 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,43,43) 0)
}

.b8b2 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(152,251,152) 0)
}

.b8b3 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(240,230,140) 0)
}

.b8b4 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(205,133,63) 0)
}

.b8b5 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,222,173) 0)
}

.b8b6 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,160,160) 0)
}

.b8b7 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,255,255) 0)
}

.b8b8 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(85,85,85) 0)
}

.b8b9 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,85,85) 0)
}

.b8b10 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(85,255,85) 0)
}

.b8b11 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,255,85) 0)
}

.b8b12 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(135,206,255) 0)
}

.b8b13 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,85,255) 0)
}

.b8b14 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,215,0) 0)
}

.b8b15 {
    background: -webkit-linear-gradient(left, rgb(85,85,85) 50%, rgb(255,255,255) 0)
}

.b9b0 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, transparent 0)
}

.b9b1 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,43,43) 0)
}

.b9b2 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(152,251,152) 0)
}

.b9b3 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(240,230,140) 0)
}

.b9b4 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(205,133,63) 0)
}

.b9b5 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,222,173) 0)
}

.b9b6 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,160,160) 0)
}

.b9b7 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,255,255) 0)
}

.b9b8 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(85,85,85) 0)
}

.b9b9 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,85,85) 0)
}

.b9b10 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(85,255,85) 0)
}

.b9b11 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,255,85) 0)
}

.b9b12 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(135,206,255) 0)
}

.b9b13 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,85,255) 0)
}

.b9b14 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,215,0) 0)
}

.b9b15 {
    background: -webkit-linear-gradient(left, rgb(255,85,85) 50%, rgb(255,255,255) 0)
}

.b10b0 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, transparent 0)
}

.b10b1 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,43,43) 0)
}

.b10b2 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(152,251,152) 0)
}

.b10b3 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(240,230,140) 0)
}

.b10b4 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(205,133,63) 0)
}

.b10b5 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,222,173) 0)
}

.b10b6 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,160,160) 0)
}

.b10b7 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,255,255) 0)
}

.b10b8 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(85,85,85) 0)
}

.b10b9 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,85,85) 0)
}

.b10b10 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(85,255,85) 0)
}

.b10b11 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,255,85) 0)
}

.b10b12 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(135,206,255) 0)
}

.b10b13 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,85,255) 0)
}

.b10b14 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,215,0) 0)
}

.b10b15 {
    background: -webkit-linear-gradient(left, rgb(85,255,85) 50%, rgb(255,255,255) 0)
}

.b11b0 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, transparent 0)
}

.b11b1 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,43,43) 0)
}

.b11b2 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(152,251,152) 0)
}

.b11b3 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(240,230,140) 0)
}

.b11b4 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(205,133,63) 0)
}

.b11b5 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,222,173) 0)
}

.b11b6 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,160,160) 0)
}

.b11b7 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,255,255) 0)
}

.b11b8 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(85,85,85) 0)
}

.b11b9 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,85,85) 0)
}

.b11b10 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(85,255,85) 0)
}

.b11b11 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,255,85) 0)
}

.b11b12 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(135,206,255) 0)
}

.b11b13 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,85,255) 0)
}

.b11b14 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,215,0) 0)
}

.b11b15 {
    background: -webkit-linear-gradient(left, rgb(255,255,85) 50%, rgb(255,255,255) 0)
}

.b12b0 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, transparent 0)
}

.b12b1 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,43,43) 0)
}

.b12b2 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(152,251,152) 0)
}

.b12b3 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(240,230,140) 0)
}

.b12b4 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(205,133,63) 0)
}

.b12b5 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,222,173) 0)
}

.b12b6 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,160,160) 0)
}

.b12b7 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,255,255) 0)
}

.b12b8 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(85,85,85) 0)
}

.b12b9 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,85,85) 0)
}

.b12b10 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(85,255,85) 0)
}

.b12b11 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,255,85) 0)
}

.b12b12 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(135,206,255) 0)
}

.b12b13 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,85,255) 0)
}

.b12b14 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,215,0) 0)
}

.b12b15 {
    background: -webkit-linear-gradient(left, rgb(135,206,255) 50%, rgb(255,255,255) 0)
}

.b13b0 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, transparent 0)
}

.b13b1 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,43,43) 0)
}

.b13b2 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(152,251,152) 0)
}

.b13b3 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(240,230,140) 0)
}

.b13b4 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(205,133,63) 0)
}

.b13b5 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,222,173) 0)
}

.b13b6 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,160,160) 0)
}

.b13b7 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,255,255) 0)
}

.b13b8 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(85,85,85) 0)
}

.b13b9 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,85,85) 0)
}

.b13b10 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(85,255,85) 0)
}

.b13b11 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,255,85) 0)
}

.b13b12 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(135,206,255) 0)
}

.b13b13 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,85,255) 0)
}

.b13b14 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,215,0) 0)
}

.b13b15 {
    background: -webkit-linear-gradient(left, rgb(255,85,255) 50%, rgb(255,255,255) 0)
}

.b14b0 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, transparent 0)
}

.b14b1 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,43,43) 0)
}

.b14b2 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(152,251,152) 0)
}

.b14b3 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(240,230,140) 0)
}

.b14b4 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(205,133,63) 0)
}

.b14b5 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,222,173) 0)
}

.b14b6 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,160,160) 0)
}

.b14b7 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,255,255) 0)
}

.b14b8 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(85,85,85) 0)
}

.b14b9 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,85,85) 0)
}

.b14b10 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(85,255,85) 0)
}

.b14b11 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,255,85) 0)
}

.b14b12 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(135,206,255) 0)
}

.b14b13 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,85,255) 0)
}

.b14b14 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,215,0) 0)
}

.b14b15 {
    background: -webkit-linear-gradient(left, rgb(255,215,0) 50%, rgb(255,255,255) 0)
}

.b15b0 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, transparent 0)
}

.b15b1 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,43,43) 0)
}

.b15b2 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(152,251,152) 0)
}

.b15b3 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(240,230,140) 0)
}

.b15b4 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(205,133,63) 0)
}

.b15b5 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,222,173) 0)
}

.b15b6 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,160,160) 0)
}

.b15b7 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,255,255) 0)
}

.b15b8 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(85,85,85) 0)
}

.b15b9 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,85,85) 0)
}

.b15b10 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(85,255,85) 0)
}

.b15b11 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,255,85) 0)
}

.b15b12 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(135,206,255) 0)
}

.b15b13 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,85,255) 0)
}

.b15b14 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,215,0) 0)
}

.b15b15 {
    background: -webkit-linear-gradient(left, rgb(255,255,255) 50%, rgb(255,255,255) 0)
}

.w0:after {
    color: rgb(77,77,77);
    text-shadow: rgb(77,77,77) 0 0 0, rgb(77,77,77) 0 0 0, rgb(77,77,77) 0 0 0, rgb(77,77,77) 0 0 0, rgb(77,77,77) 0 0 0
}

.w1:after {
    color: rgb(255,43,43);
    text-shadow: rgb(255,43,43) 0 0 0, rgb(255,43,43) 0 0 0, rgb(255,43,43) 0 0 0, rgb(255,43,43) 0 0 0, rgb(255,43,43) 0 0 0
}

.w2:after {
    color: rgb(152,251,152);
    text-shadow: rgb(152,251,152) 0 0 0, rgb(152,251,152) 0 0 0, rgb(152,251,152) 0 0 0, rgb(152,251,152) 0 0 0, rgb(152,251,152) 0 0 0
}

.w3:after {
    color: rgb(240,230,140);
    text-shadow: rgb(240,230,140) 0 0 0, rgb(240,230,140) 0 0 0, rgb(240,230,140) 0 0 0, rgb(240,230,140) 0 0 0, rgb(240,230,140) 0 0 0
}

.w4:after {
    color: rgb(205,133,63);
    text-shadow: rgb(205,133,63) 0 0 0, rgb(205,133,63) 0 0 0, rgb(205,133,63) 0 0 0, rgb(205,133,63) 0 0 0, rgb(205,133,63) 0 0 0
}

.w5:after {
    color: rgb(255,222,173);
    text-shadow: rgb(255,222,173) 0 0 0, rgb(255,222,173) 0 0 0, rgb(255,222,173) 0 0 0, rgb(255,222,173) 0 0 0, rgb(255,222,173) 0 0 0
}

.w6:after {
    color: rgb(255,160,160);
    text-shadow: rgb(255,160,160) 0 0 0, rgb(255,160,160) 0 0 0, rgb(255,160,160) 0 0 0, rgb(255,160,160) 0 0 0, rgb(255,160,160) 0 0 0
}

.w7:after {
    color: rgb(255,255,255);
    text-shadow: rgb(255,255,255) 0 0 0, rgb(255,255,255) 0 0 0, rgb(255,255,255) 0 0 0, rgb(255,255,255) 0 0 0, rgb(255,255,255) 0 0 0
}

.w8:after {
    color: rgb(85,85,85);
    text-shadow: rgb(85,85,85) 0 0 0, rgb(85,85,85) 0 0 0, rgb(85,85,85) 0 0 0, rgb(85,85,85) 0 0 0, rgb(85,85,85) 0 0 0
}

.w9:after {
    color: rgb(255,85,85);
    text-shadow: rgb(255,85,85) 0 0 0, rgb(255,85,85) 0 0 0, rgb(255,85,85) 0 0 0, rgb(255,85,85) 0 0 0, rgb(255,85,85) 0 0 0
}

.w10:after {
    color: rgb(85,255,85);
    text-shadow: rgb(85,255,85) 0 0 0, rgb(85,255,85) 0 0 0, rgb(85,255,85) 0 0 0, rgb(85,255,85) 0 0 0, rgb(85,255,85) 0 0 0
}

.w11:after {
    color: rgb(255,255,85);
    text-shadow: rgb(255,255,85) 0 0 0, rgb(255,255,85) 0 0 0, rgb(255,255,85) 0 0 0, rgb(255,255,85) 0 0 0, rgb(255,255,85) 0 0 0
}

.w12:after {
    color: rgb(135,206,255);
    text-shadow: rgb(135,206,255) 0 0 0, rgb(135,206,255) 0 0 0, rgb(135,206,255) 0 0 0, rgb(135,206,255) 0 0 0, rgb(135,206,255) 0 0 0
}

.w13:after {
    color: rgb(255,85,255);
    text-shadow: rgb(255,85,255) 0 0 0, rgb(255,85,255) 0 0 0, rgb(255,85,255) 0 0 0, rgb(255,85,255) 0 0 0, rgb(255,85,255) 0 0 0
}

.w14:after {
    color: rgb(255,215,0);
    text-shadow: rgb(255,215,0) 0 0 0, rgb(255,215,0) 0 0 0, rgb(255,215,0) 0 0 0, rgb(255,215,0) 0 0 0, rgb(255,215,0) 0 0 0
}

.w15:after {
    color: rgb(255,255,255);
    text-shadow: rgb(255,255,255) 0 0 0, rgb(255,255,255) 0 0 0, rgb(255,255,255) 0 0 0, rgb(255,255,255) 0 0 0, rgb(255,255,255) 0 0 0
}

.trans-fix .b1 {
    box-shadow: inset 0 0 5px 5px rgb(255,43,43)
}

.trans-fix .b2 {
    box-shadow: inset 0 0 5px 5px rgb(152,251,152)
}

.trans-fix .b3 {
    box-shadow: inset 0 0 5px 5px rgb(240,230,140)
}

.trans-fix .b4 {
    box-shadow: inset 0 0 5px 5px rgb(205,133,63)
}

.trans-fix .b5 {
    box-shadow: inset 0 0 5px 5px rgb(255,222,173)
}

.trans-fix .b6 {
    box-shadow: inset 0 0 5px 5px rgb(255,160,160)
}

.trans-fix .b7 {
    box-shadow: inset 0 0 5px 5px rgb(255,255,255)
}

.trans-fix .b8 {
    box-shadow: inset 0 0 5px 5px rgb(85,85,85)
}

.trans-fix .b9 {
    box-shadow: inset 0 0 5px 5px rgb(255,85,85)
}

.trans-fix .b10 {
    box-shadow: inset 0 0 5px 5px rgb(85,255,85)
}

.trans-fix .b11 {
    box-shadow: inset 0 0 5px 5px rgb(255,255,85)
}

.trans-fix .b12 {
    box-shadow: inset 0 0 5px 5px rgb(135,206,255)
}

.trans-fix .b13 {
    box-shadow: inset 0 0 5px 5px rgb(255,85,255)
}

.trans-fix .b14 {
    box-shadow: inset 0 0 5px 5px rgb(255,215,0)
}

.trans-fix .b15 {
    box-shadow: inset 0 0 5px 5px rgb(255,255,255)
}


/* special case */