:root {
    --white: silver;
    --white-light: #FFF;
    --black: #000;
    --black-light: #000;
    --red: maroon;
    --red-light: red;
    --green: green;
    --green-light: #0F0;
    --yellow: olive;
    --yellow-light: #FF0;
    --blue: navy;
    --blue-light: #00F;
    --magenta: purple;
    --magenta-light: #F0F;
    --cyan: teal;
    --cyan-light: #0FF;
}

body,
.main {
    color: var(--white);
    background-color: var(--black);
}

#cursor {
    color: var(--white);
}

.blink--active .qq,
.blink--active .qq0 {
    color: RGBA(0, 0, 0, 0);
    background-color: inherit
}

.blink--active .qq1 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--red)
}

.blink--active .qq2 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--green)
}

.blink--active .qq3 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--yellow)
}

.blink--active .qq4 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--blue)
}

.blink--active .qq5 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--magenta)
}

.blink--active .qq6 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--cyan)
}

.blink--active .qq7 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--white)
}

.blink--active .qq8 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--black-light)
}

.blink--active .qq9 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--red-light)
}

.blink--active .qq10 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--green-light)
}

.blink--active .qq11 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--yellow-light)
}

.blink--active .qq12 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--blue-light)
}

.blink--active .qq13 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--magenta-light)
}

.blink--active .qq14 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--cyan-light)
}

.blink--active .qq15 {
    color: RGBA(0, 0, 0, 0);
    background-color: var(--white-light)
}

.q0 {
    color: var(--black)
}

.q1 {
    color: var(--red)
}

.q2 {
    color: var(--green)
}

.q3 {
    color: var(--yellow)
}

.q4 {
    color: var(--blue)
}

.q5 {
    color: var(--magenta)
}

.q6 {
    color: var(--cyan)
}

.q7 {
    color: var(--white)
}

.q8 {
    color: var(--black-light)
}

.q9 {
    color: var(--red-light)
}

.q10 {
    color: var(--green-light)
}

.q11 {
    color: var(--yellow-light)
}

.q12 {
    color: var(--blue-light)
}

.q13 {
    color: var(--magenta-light)
}

.q14 {
    color: var(--cyan-light)
}

.q15 {
    color: var(--white-light)
}

.b0 {
    background-color: transparent
}

.b1 {
    background-color: var(--red)
}

.b2 {
    background-color: var(--green)
}

.b3 {
    background-color: var(--yellow)
}

.b4 {
    background-color: var(--blue)
}

.b5 {
    background-color: var(--magenta)
}

.b6 {
    background-color: var(--cyan)
}

.b7 {
    background-color: var(--white)
}

.b8 {
    background-color: var(--black-light)
}

.b9 {
    background-color: var(--red-light)
}

.b10 {
    background-color: var(--green-light)
}

.b11 {
    background-color: var(--yellow-light)
}

.b12 {
    background-color: var(--blue-light)
}

.b13 {
    background-color: var(--magenta-light)
}

.b14 {
    background-color: var(--cyan-light)
}

.b15 {
    background-color: var(--white-light)
}

.b0b0 {
    background: -webkit-linear-gradient(left, transparent 50%, transparent 0)
}

.b0b1 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--red) 0)
}

.b0b2 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--green) 0)
}

.b0b3 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--yellow) 0)
}

.b0b4 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--blue) 0)
}

.b0b5 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--magenta) 0)
}

.b0b6 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--cyan) 0)
}

.b0b7 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--white) 0)
}

.b0b8 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--black-light) 0)
}

.b0b9 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--red-light) 0)
}

.b0b10 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--green-light) 0)
}

.b0b11 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--yellow-light) 0)
}

.b0b12 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--blue-light) 0)
}

.b0b13 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--magenta-light) 0)
}

.b0b14 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--cyan-light) 0)
}

.b0b15 {
    background: -webkit-linear-gradient(left, transparent 50%, var(--white-light) 0)
}

.b1b0 {
    background: -webkit-linear-gradient(left, var(--red) 50%, transparent 0)
}

.b1b1 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--red) 0)
}

.b1b2 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--green) 0)
}

.b1b3 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--yellow) 0)
}

.b1b4 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--blue) 0)
}

.b1b5 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--magenta) 0)
}

.b1b6 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--cyan) 0)
}

.b1b7 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--white) 0)
}

.b1b8 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--black-light) 0)
}

.b1b9 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--red-light) 0)
}

.b1b10 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--green-light) 0)
}

.b1b11 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--yellow-light) 0)
}

.b1b12 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--blue-light) 0)
}

.b1b13 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--magenta-light) 0)
}

.b1b14 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--cyan-light) 0)
}

.b1b15 {
    background: -webkit-linear-gradient(left, var(--red) 50%, var(--white-light) 0)
}

.b2b0 {
    background: -webkit-linear-gradient(left, var(--green) 50%, transparent 0)
}

.b2b1 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--red) 0)
}

.b2b2 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--green) 0)
}

.b2b3 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--yellow) 0)
}

.b2b4 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--blue) 0)
}

.b2b5 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--magenta) 0)
}

.b2b6 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--cyan) 0)
}

.b2b7 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--white) 0)
}

.b2b8 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--black-light) 0)
}

.b2b9 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--red-light) 0)
}

.b2b10 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--green-light) 0)
}

.b2b11 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--yellow-light) 0)
}

.b2b12 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--blue-light) 0)
}

.b2b13 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--magenta-light) 0)
}

.b2b14 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--cyan-light) 0)
}

.b2b15 {
    background: -webkit-linear-gradient(left, var(--green) 50%, var(--white-light) 0)
}

.b3b0 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, transparent 0)
}

.b3b1 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--red) 0)
}

.b3b2 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--green) 0)
}

.b3b3 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--yellow) 0)
}

.b3b4 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--blue) 0)
}

.b3b5 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--magenta) 0)
}

.b3b6 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--cyan) 0)
}

.b3b7 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--white) 0)
}

.b3b8 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--black-light) 0)
}

.b3b9 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--red-light) 0)
}

.b3b10 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--green-light) 0)
}

.b3b11 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--yellow-light) 0)
}

.b3b12 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--blue-light) 0)
}

.b3b13 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--magenta-light) 0)
}

.b3b14 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--cyan-light) 0)
}

.b3b15 {
    background: -webkit-linear-gradient(left, var(--yellow) 50%, var(--white-light) 0)
}

.b4b0 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, transparent 0)
}

.b4b1 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--red) 0)
}

.b4b2 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--green) 0)
}

.b4b3 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--yellow) 0)
}

.b4b4 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--blue) 0)
}

.b4b5 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--magenta) 0)
}

.b4b6 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--cyan) 0)
}

.b4b7 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--white) 0)
}

.b4b8 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--black-light) 0)
}

.b4b9 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--red-light) 0)
}

.b4b10 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--green-light) 0)
}

.b4b11 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--yellow-light) 0)
}

.b4b12 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--blue-light) 0)
}

.b4b13 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--magenta-light) 0)
}

.b4b14 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--cyan-light) 0)
}

.b4b15 {
    background: -webkit-linear-gradient(left, var(--blue) 50%, var(--white-light) 0)
}

.b5b0 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, transparent 0)
}

.b5b1 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--red) 0)
}

.b5b2 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--green) 0)
}

.b5b3 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--yellow) 0)
}

.b5b4 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--blue) 0)
}

.b5b5 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--magenta) 0)
}

.b5b6 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--cyan) 0)
}

.b5b7 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--white) 0)
}

.b5b8 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--black-light) 0)
}

.b5b9 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--red-light) 0)
}

.b5b10 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--green-light) 0)
}

.b5b11 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--yellow-light) 0)
}

.b5b12 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--blue-light) 0)
}

.b5b13 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--magenta-light) 0)
}

.b5b14 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--cyan-light) 0)
}

.b5b15 {
    background: -webkit-linear-gradient(left, var(--magenta) 50%, var(--white-light) 0)
}

.b6b0 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, transparent 0)
}

.b6b1 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--red) 0)
}

.b6b2 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--green) 0)
}

.b6b3 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--yellow) 0)
}

.b6b4 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--blue) 0)
}

.b6b5 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--magenta) 0)
}

.b6b6 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--cyan) 0)
}

.b6b7 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--white) 0)
}

.b6b8 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--black-light) 0)
}

.b6b9 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--red-light) 0)
}

.b6b10 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--green-light) 0)
}

.b6b11 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--yellow-light) 0)
}

.b6b12 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--blue-light) 0)
}

.b6b13 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--magenta-light) 0)
}

.b6b14 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--cyan-light) 0)
}

.b6b15 {
    background: -webkit-linear-gradient(left, var(--cyan) 50%, var(--white-light) 0)
}

.b7b0 {
    background: -webkit-linear-gradient(left, var(--white) 50%, transparent 0)
}

.b7b1 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--red) 0)
}

.b7b2 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--green) 0)
}

.b7b3 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--yellow) 0)
}

.b7b4 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--blue) 0)
}

.b7b5 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--magenta) 0)
}

.b7b6 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--cyan) 0)
}

.b7b7 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--white) 0)
}

.b7b8 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--black-light) 0)
}

.b7b9 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--red-light) 0)
}

.b7b10 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--green-light) 0)
}

.b7b11 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--yellow-light) 0)
}

.b7b12 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--blue-light) 0)
}

.b7b13 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--magenta-light) 0)
}

.b7b14 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--cyan-light) 0)
}

.b7b15 {
    background: -webkit-linear-gradient(left, var(--white) 50%, var(--white-light) 0)
}

.b8b0 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, transparent 0)
}

.b8b1 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--red) 0)
}

.b8b2 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--green) 0)
}

.b8b3 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--yellow) 0)
}

.b8b4 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--blue) 0)
}

.b8b5 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--magenta) 0)
}

.b8b6 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--cyan) 0)
}

.b8b7 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--white) 0)
}

.b8b8 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--black-light) 0)
}

.b8b9 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--red-light) 0)
}

.b8b10 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--green-light) 0)
}

.b8b11 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--yellow-light) 0)
}

.b8b12 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--blue-light) 0)
}

.b8b13 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--magenta-light) 0)
}

.b8b14 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--cyan-light) 0)
}

.b8b15 {
    background: -webkit-linear-gradient(left, var(--black-light) 50%, var(--white-light) 0)
}

.b9b0 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, transparent 0)
}

.b9b1 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--red) 0)
}

.b9b2 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--green) 0)
}

.b9b3 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--yellow) 0)
}

.b9b4 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--blue) 0)
}

.b9b5 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--magenta) 0)
}

.b9b6 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--cyan) 0)
}

.b9b7 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--white) 0)
}

.b9b8 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--black-light) 0)
}

.b9b9 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--red-light) 0)
}

.b9b10 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--green-light) 0)
}

.b9b11 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--yellow-light) 0)
}

.b9b12 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--blue-light) 0)
}

.b9b13 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--magenta-light) 0)
}

.b9b14 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--cyan-light) 0)
}

.b9b15 {
    background: -webkit-linear-gradient(left, var(--red-light) 50%, var(--white-light) 0)
}

.b10b0 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, transparent 0)
}

.b10b1 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--red) 0)
}

.b10b2 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--green) 0)
}

.b10b3 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--yellow) 0)
}

.b10b4 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--blue) 0)
}

.b10b5 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--magenta) 0)
}

.b10b6 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--cyan) 0)
}

.b10b7 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--white) 0)
}

.b10b8 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--black-light) 0)
}

.b10b9 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--red-light) 0)
}

.b10b10 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--green-light) 0)
}

.b10b11 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--yellow-light) 0)
}

.b10b12 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--blue-light) 0)
}

.b10b13 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--magenta-light) 0)
}

.b10b14 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--cyan-light) 0)
}

.b10b15 {
    background: -webkit-linear-gradient(left, var(--green-light) 50%, var(--white-light) 0)
}

.b11b0 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, transparent 0)
}

.b11b1 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--red) 0)
}

.b11b2 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--green) 0)
}

.b11b3 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--yellow) 0)
}

.b11b4 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--blue) 0)
}

.b11b5 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--magenta) 0)
}

.b11b6 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--cyan) 0)
}

.b11b7 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--white) 0)
}

.b11b8 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--black-light) 0)
}

.b11b9 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--red-light) 0)
}

.b11b10 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--green-light) 0)
}

.b11b11 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--yellow-light) 0)
}

.b11b12 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--blue-light) 0)
}

.b11b13 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--magenta-light) 0)
}

.b11b14 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--cyan-light) 0)
}

.b11b15 {
    background: -webkit-linear-gradient(left, var(--yellow-light) 50%, var(--white-light) 0)
}

.b12b0 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, transparent 0)
}

.b12b1 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--red) 0)
}

.b12b2 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--green) 0)
}

.b12b3 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--yellow) 0)
}

.b12b4 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--blue) 0)
}

.b12b5 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--magenta) 0)
}

.b12b6 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--cyan) 0)
}

.b12b7 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--white) 0)
}

.b12b8 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--black-light) 0)
}

.b12b9 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--red-light) 0)
}

.b12b10 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--green-light) 0)
}

.b12b11 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--yellow-light) 0)
}

.b12b12 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--blue-light) 0)
}

.b12b13 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--magenta-light) 0)
}

.b12b14 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--cyan-light) 0)
}

.b12b15 {
    background: -webkit-linear-gradient(left, var(--blue-light) 50%, var(--white-light) 0)
}

.b13b0 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, transparent 0)
}

.b13b1 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--red) 0)
}

.b13b2 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--green) 0)
}

.b13b3 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--yellow) 0)
}

.b13b4 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--blue) 0)
}

.b13b5 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--magenta) 0)
}

.b13b6 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--cyan) 0)
}

.b13b7 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--white) 0)
}

.b13b8 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--black-light) 0)
}

.b13b9 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--red-light) 0)
}

.b13b10 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--green-light) 0)
}

.b13b11 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--yellow-light) 0)
}

.b13b12 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--blue-light) 0)
}

.b13b13 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--magenta-light) 0)
}

.b13b14 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--cyan-light) 0)
}

.b13b15 {
    background: -webkit-linear-gradient(left, var(--magenta-light) 50%, var(--white-light) 0)
}

.b14b0 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, transparent 0)
}

.b14b1 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--red) 0)
}

.b14b2 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--green) 0)
}

.b14b3 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--yellow) 0)
}

.b14b4 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--blue) 0)
}

.b14b5 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--magenta) 0)
}

.b14b6 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--cyan) 0)
}

.b14b7 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--white) 0)
}

.b14b8 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--black-light) 0)
}

.b14b9 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--red-light) 0)
}

.b14b10 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--green-light) 0)
}

.b14b11 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--yellow-light) 0)
}

.b14b12 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--blue-light) 0)
}

.b14b13 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--magenta-light) 0)
}

.b14b14 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--cyan-light) 0)
}

.b14b15 {
    background: -webkit-linear-gradient(left, var(--cyan-light) 50%, var(--white-light) 0)
}

.b15b0 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, transparent 0)
}

.b15b1 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--red) 0)
}

.b15b2 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--green) 0)
}

.b15b3 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--yellow) 0)
}

.b15b4 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--blue) 0)
}

.b15b5 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--magenta) 0)
}

.b15b6 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--cyan) 0)
}

.b15b7 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--white) 0)
}

.b15b8 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--black-light) 0)
}

.b15b9 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--red-light) 0)
}

.b15b10 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--green-light) 0)
}

.b15b11 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--yellow-light) 0)
}

.b15b12 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--blue-light) 0)
}

.b15b13 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--magenta-light) 0)
}

.b15b14 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--cyan-light) 0)
}

.b15b15 {
    background: -webkit-linear-gradient(left, var(--white-light) 50%, var(--white-light) 0)
}

.w0:after {
    color: var(--black);
    text-shadow: var(--black) 0 0 0, var(--black) 0 0 0, var(--black) 0 0 0, var(--black) 0 0 0, var(--black) 0 0 0
}

.w1:after {
    color: var(--red);
    text-shadow: var(--red) 0 0 0, var(--red) 0 0 0, var(--red) 0 0 0, var(--red) 0 0 0, var(--red) 0 0 0
}

.w2:after {
    color: var(--green);
    text-shadow: var(--green) 0 0 0, var(--green) 0 0 0, var(--green) 0 0 0, var(--green) 0 0 0, var(--green) 0 0 0
}

.w3:after {
    color: var(--yellow);
    text-shadow: var(--yellow) 0 0 0, var(--yellow) 0 0 0, var(--yellow) 0 0 0, var(--yellow) 0 0 0, var(--yellow) 0 0 0
}

.w4:after {
    color: var(--blue);
    text-shadow: var(--blue) 0 0 0, var(--blue) 0 0 0, var(--blue) 0 0 0, var(--blue) 0 0 0, var(--blue) 0 0 0
}

.w5:after {
    color: var(--magenta);
    text-shadow: var(--magenta) 0 0 0, var(--magenta) 0 0 0, var(--magenta) 0 0 0, var(--magenta) 0 0 0, var(--magenta) 0 0 0
}

.w6:after {
    color: var(--cyan);
    text-shadow: var(--cyan) 0 0 0, var(--cyan) 0 0 0, var(--cyan) 0 0 0, var(--cyan) 0 0 0, var(--cyan) 0 0 0
}

.w7:after {
    color: var(--white);
    text-shadow: var(--white) 0 0 0, var(--white) 0 0 0, var(--white) 0 0 0, var(--white) 0 0 0, var(--white) 0 0 0
}

.w8:after {
    color: var(--black-light);
    text-shadow: var(--black-light) 0 0 0, var(--black-light) 0 0 0, var(--black-light) 0 0 0, var(--black-light) 0 0 0, var(--black-light) 0 0 0
}

.w9:after {
    color: var(--red-light);
    text-shadow: var(--red-light) 0 0 0, var(--red-light) 0 0 0, var(--red-light) 0 0 0, var(--red-light) 0 0 0, var(--red-light) 0 0 0
}

.w10:after {
    color: var(--green-light);
    text-shadow: var(--green-light) 0 0 0, var(--green-light) 0 0 0, var(--green-light) 0 0 0, var(--green-light) 0 0 0, var(--green-light) 0 0 0
}

.w11:after {
    color: var(--yellow-light);
    text-shadow: var(--yellow-light) 0 0 0, var(--yellow-light) 0 0 0, var(--yellow-light) 0 0 0, var(--yellow-light) 0 0 0, var(--yellow-light) 0 0 0
}

.w12:after {
    color: var(--blue-light);
    text-shadow: var(--blue-light) 0 0 0, var(--blue-light) 0 0 0, var(--blue-light) 0 0 0, var(--blue-light) 0 0 0, var(--blue-light) 0 0 0
}

.w13:after {
    color: var(--magenta-light);
    text-shadow: var(--magenta-light) 0 0 0, var(--magenta-light) 0 0 0, var(--magenta-light) 0 0 0, var(--magenta-light) 0 0 0, var(--magenta-light) 0 0 0
}

.w14:after {
    color: var(--cyan-light);
    text-shadow: var(--cyan-light) 0 0 0, var(--cyan-light) 0 0 0, var(--cyan-light) 0 0 0, var(--cyan-light) 0 0 0, var(--cyan-light) 0 0 0
}

.w15:after {
    color: var(--white-light);
    text-shadow: var(--white-light) 0 0 0, var(--white-light) 0 0 0, var(--white-light) 0 0 0, var(--white-light) 0 0 0, var(--white-light) 0 0 0
}

.trans-fix .b1 {
    box-shadow: inset 0 0 5px 5px var(--red)
}

.trans-fix .b2 {
    box-shadow: inset 0 0 5px 5px var(--green)
}

.trans-fix .b3 {
    box-shadow: inset 0 0 5px 5px var(--yellow)
}

.trans-fix .b4 {
    box-shadow: inset 0 0 5px 5px var(--blue)
}

.trans-fix .b5 {
    box-shadow: inset 0 0 5px 5px var(--magenta)
}

.trans-fix .b6 {
    box-shadow: inset 0 0 5px 5px var(--cyan)
}

.trans-fix .b7 {
    box-shadow: inset 0 0 5px 5px var(--white)
}

.trans-fix .b8 {
    box-shadow: inset 0 0 5px 5px var(--black-light)
}

.trans-fix .b9 {
    box-shadow: inset 0 0 5px 5px var(--red-light)
}

.trans-fix .b10 {
    box-shadow: inset 0 0 5px 5px var(--green-light)
}

.trans-fix .b11 {
    box-shadow: inset 0 0 5px 5px var(--yellow-light)
}

.trans-fix .b12 {
    box-shadow: inset 0 0 5px 5px var(--blue-light)
}

.trans-fix .b13 {
    box-shadow: inset 0 0 5px 5px var(--magenta-light)
}

.trans-fix .b14 {
    box-shadow: inset 0 0 5px 5px var(--cyan-light)
}

.trans-fix .b15 {
    box-shadow: inset 0 0 5px 5px var(--white-light)
}


/* special case */